[2016-12-03 19:02] alzv0411 opened #1 "Создать структуру БД"
- [x] Создать структуру БД по [схеме ](https://drive.google.com/open?id=0Bysv8raAy_4uR0lHZ3Y3dFlYNTQ) на внешнем сервере

- [x] Подготовить скрипт для создания таблиц и загрузить в ecomm/scripts/01_test_tables.sql

[2016-12-03 19:05] alzv0411 opened #2 "Создать тестовые данные"
- [x] Создать тестовые данные на внешнем сервере

- [x] Подготовить скрипт для данных и выложить в ecomm/scripts/02_test_data.sql

[2016-12-03 19:14] alzv0411 opened #3 "Заверстать JSP"
## [Страницы](https://github.com/ncedu-tlt/ecomm/tree/master/src/main/webapp/views/pages)

- [x] cart.jsp
- [x] category.jsp
- [x] index.jsp
- [x] login.jsp
- [x] ordersHistory.jsp
- [x] passwordRecovery.jsp
- [x] product.jsp
- [x] profile.jsp
- [x] registration.jsp
- [x] users.jsp

## [Фрагменты](https://github.com/ncedu-tlt/ecomm/tree/master/src/main/webapp/views/fragments)
- [x] head.jsp
- [x]

[2016-12-03 19:28] alzv0411 opened #4 "Реализовать DAO для работы с Categories"
Создать Data Model:
`ru.ncedu.ecomm.data.models.Category`

Создать интерфейс:
`ru.ncedu.ecomm.data.accessobjects.CategoryDAO`
с методами доступа, добавления, удаления и редактирования.

Написать реализацию:
`ru.ncedu.ecomm.data.accessobjects.impl.PostgresCategoryDAO`

Добавить в DAOFactory.

[2016-12-03 19:30] alzv0411 opened #5 "Реализовать DAO для работы с Property"
Создать Data Model:
`ru.ncedu.ecomm.data.models.Property`

Создать интерфейс:
`ru.ncedu.ecomm.data.accessobjects.PropertyDAO`
с методами доступа, добавления, удаления и редактирования.

Написать реализацию:
`ru.ncedu.ecomm.data.accessobjects.impl.PostgresPropertyDAO`

Добавить в DAOFactory.

[2016-12-05 06:23] AndrewKozyrin commented on #2
Начал создание текстовых данных

[2016-12-06 17:22] ilyad777 commented on #1
Добавил скрипт 6b8c8bb8b9e7dba2996c8508a2df9537102fa813

[2016-12-07 07:02] alzv0411 commented on #1
Илья, нужно перед созданием структур добавить в скрипт удаление (drop).
Т.е. чтобы они пересоздавались.

Скрипт перенес сюда: https://github.com/ncedu-tlt/ecomm/tree/master/scripts

[2016-12-07 07:03] alzv0411 commented on #2
Андрей, а ты выложишь скрипт для создания данных в https://github.com/ncedu-tlt/ecomm/tree/master/scripts?

[2016-12-07 08:07] AndrewKozyrin commented on #2
Выложил в гугле еще в понедельник
https://drive.google.com/drive/folders/0B3sokuzkt4LSN1BRejNOVzNhNEE. Сейчас
выложил и на гит хабе. В гугле, в папке утилс, также выложил скрипт на
полную очистку всех данных во всех таблицах со сбросом сиквенсов, на всякий
случай.
Еще момент в скрипте на создание таблиц, возможно нужно поправить
1. character varying[] на character varying,
2. В таблице product - n

[2016-12-07 17:09] ilyad777 commented on #1
Добавил DROP 748e016f215c3432f73bffb778a43ebdbdc95527

[2016-12-08 08:54] alzv0411 commented on #4
@Garthdex ,
public List<Category> getCategories() - не работает:
[code]

Дополнительно нужно реализовать ещё два метода:
public Category getCategoryById(long id)
public List<Category> getCategoriesByParentId(long parentId)

[2016-12-08 08:55] #2 closed, assigned to AndrewKozyrin

[2016-12-08 08:55] #1 closed, assigned to ilyad777

[2016-12-08 08:58] alzv0411 opened #6 "Реализовать DAO для работы с Users"
Создать Data Model:
ru.ncedu.ecomm.data.models.User

Создать интерфейс:
ru.ncedu.ecomm.data.accessobjects.UserDAO
с методами доступа, добавления, удаления и редактирования.

Написать реализацию:
ru.ncedu.ecomm.data.accessobjects.impl.PostgresUserDAO

Добавить в DAOFactory.

[2016-12-10 08:31] #4 closed, assigned to Garthdex

[2016-12-10 17:19] ocassio commented on #3
Унификация категорий не принята. Как мы будем печатать их в цикле, если у нас явно прописано две колонки?

[2016-12-10 17:34] ocassio opened #7 "Компонент User List"
Компонент отображает список пользователей.
При клике по пользователю будет произведен переход на страниц с детальной информацией.

В дальнейшем нужно будет организовать интеграцию с компонентом Pagination.

[2016-12-10 17:38] ocassio opened #8 "Компонент Product List"
Отображает список товаров.

Возможно как отображение с разбивкой на категории, так и без них.

При клике на имя категории осуществляется переход на соответствующую страницу.
При клике на имя товара открывается страница с деталями.
При клике на кнопку Add to Cart происходит добавление товара в корзину.

В дальнейшем потребуется интеграция с компонентом Pagination.

[2016-12-10 17:40] ocassio opened #9 "Компонент Breadcrumbs"
Отображает иерархию категорий до текущей категории/товара.

При клике на пункт происходит переход на соответствующую страницу категории/товара.

[2016-12-10 17:42] ocassio opened #10 "Компонент Registration"
Представляет собой форму для регистрации пользователя.

[2016-12-10 17:44] ocassio opened #11 "Компонент Password Recovery"
Компонент позволяет указать email для отправки инструкций по восстановлению пароля.

[2016-12-10 17:46] ocassio opened #12 "Компонент Login"
Представляет собой форму для авторизации.

[2016-12-12 07:07] #5 closed

[2016-12-12 14:43] Garthdex commented on #10
С вашего позволения чутка попозже займусь, пока учебной чепухой занят.

[2016-12-12 17:55] ilyad777 commented on #9
Ближайшую неделю буду занят учебным процессом, пока не могу взяться за данную задачу.

[2016-12-12 19:56] jegius commented on #8
Принял в работу

[2016-12-12 20:53] lordever commented on #11
На данный момент сдаю сессию. Буду периодически выполнять работу, но медленно. Сессия продлится до 21 декабря

[2016-12-13 17:20] AndrewKozyrin commented on #12
На этой неделе домашку доделаю, займусь в плотную на след. неделе.

[2016-12-14 02:48] ilyad777 commented on #9
Готово abc2b25afbaabf231bf790a3247e7c27802598d5

[2016-12-14 14:35] ocassio commented on #9
Посмотри мокап для страницы продукта. Там несколько другое поведение.

[2016-12-14 15:52] ilyad777 commented on #9
окей, делал чисто относительно верстки, мокапы не смотрел, доделаю

[2016-12-14 21:56] ilyad777 commented on #9
Готово 10a8fbb787adf279e31962dc8f95cb7c0fa0b682

[2016-12-16 23:06] jegius commented on #8
Не могу разобраться в гет запросах. Когда они у нас возникают, почемy при отсутствии запроса сервлет ложиться с NullPointExeption как этого избежать и как вывести категории на главную страницу при этом не модифицируя index.jsp

[2016-12-17 18:51] ocassio opened #13 "Компонент Categories"
Меню категорий.
Отображаем только три первых уровня иерархии.

[2016-12-18 15:08] jegius commented on #8
Готово 2c28d9db640535c5eb7f8856254add4c8c899f07

[2016-12-21 16:56] ocassio opened #14 "Реализовать DAO для работы с Sales Orders"

[2016-12-21 16:58] ocassio opened #15 "Реализовать DAO для работы с Characteristic Groups"

[2016-12-22 00:43] jegius commented on #14
Саш проверь пожалуйста ДАО 8c55932b38d6869a14c4459ace3915566f4c7104

[2016-12-24 22:53] jegius commented on #15
Готово 377d9451f3570265d24fc756cd5cda6e3febfcd0

[2016-12-25 18:34] jegius commented on #3
ad0a68db06429b7bdfa6caa872393bb17b24834f Поправил

[2016-12-28 20:28] ocassio opened #16 "Доработать Product List и сервлет для категорий"
Сейчас слишком много логики выполняется в JSP.
Нужно создать view модель такого вида, которая позволит выводить категории и их содержимое просто пробегаясь по списку. Вся логика по формированию данных в нужном формате должна располагаться в сервлете.

[2016-12-29 22:37] jegius commented on #16
ae6320156e1f5f77dfee3b71b18b20434275aece
Саш Готово!

[2016-12-30 12:19] ocassio commented on #16
Вань, нужно доработать:
1. У тебя по прежнему плоский список с новой view моделью. Из-за этого появляется лишняя логика в JSP. Модель можно сделать иерархичной, т.е. категория с id, именем и списком товаров.
2. В модели зачем-то присутствует discountId. Зачем нам нужен идентификатор? Кстати, он даже не используется. :) А вот саму скидку хотелось бы увидеть как в модели, так и в JSP.
3. Давай остав

[2016-12-30 12:34] ocassio opened #17 "Компонент Profile"

[2016-12-30 13:32] jegius commented on #16
Принял

[2016-12-31 10:04] lordever commented on #17
Саш, объясни пожалуйста что в этом компоненте мы конкретно хотим добиться?

[2016-12-31 10:43] ocassio commented on #17
Отображение информации о пользователе, а также возможность редактирования профиля.

[2017-01-01 15:08] ilyad777 commented on #13
Пока так 4a5215ecd4fb06d58091b80fa5ca41a710cd7885

[2017-01-01 15:09] ilyad777 commented on #13
Ссылки пока не добавлял

[2017-01-01 17:37] ocassio commented on #13
Мельком глянул, попозже еще посмотрю.
Пока следующие замечания:
1. Зачем нам два одинаковых класса Categories и Middles?
2. Не нужно разводить внутренние классы, сделай полноценную вью модель, имеющую идентификатор, имя и список дочерних категорий.

[2017-01-01 22:07] jegius commented on #16
52eceb21db03f4b7648296a1ce54d29459a3af5b
Проверь пожалуйста новую версию

[2017-01-01 22:18] lordever commented on #17
На странице profile только отображение полей для ввода информации о пользователе. Как я понял для пользователя есть возможность ввести подробную информацию о себе, позже она будет отображаться на этой странице, где каждую из полей можно будет отредактировать. Данную информацию также нужно будет сохранить в бд. Мне нужно также создать таблицу в БД для хранения этих данных. Я всё правильно рассписал

[2017-01-02 11:09] ilyad777 commented on #13
Спасибо, сделаю)

[2017-01-03 08:50] ocassio commented on #17
Обязательные поля пользователь указывает еще при регистрации. На этой странице отображается вся информация о пользователе, которую он может изменять.

А зачем нам отдельная таблица, если у нас уже есть Users, в которой имеются все необходимые нам поля?

[2017-01-03 10:02] ocassio commented on #16
По общей логике:
1. Почему, в случае отсутствия категории с указанным идентификатором, мы выводим первую категорию? К примеру, у нас есть категории Computers, Food и Sporting Goods со своими подкатегориями. Почему мы отобразим именно Computers? И что будет в том случае, если у нас не будет категории с идентификатором 1?
2. final int CHARACTERISTIC_ID_FOR_ONE_CATEGORY = 28;
    final int CHARACTERI

[2017-01-03 12:15] jegius commented on #16
Снова принял

[2017-01-03 16:50] jegius commented on #16
Саш проверь пожалуйста еще раз)
И у меня вопросы по пунктам 4, 5

[2017-01-03 18:51] lordever commented on #17
о дополнительных полях в базе я ошибся. Думал, что в профиле должна быть другая информация.

[2017-01-03 18:53] lordever commented on #17
В dashboard на странице профиля нужно ещё сделать orders history ещё? Если нужно то как его сделать?

[2017-01-03 18:55] ocassio commented on #17
Нет, Orders History - отдельная страница.

[2017-01-04 12:23] jegius commented on #16
Я закончил) 4e73fe896b8456e6958ca9b315ff028cbd40c24b

[2017-01-05 11:04] #16 closed, assigned to jegius

[2017-01-05 11:08] ocassio opened #18 "Главная страница"
На главной странице нужно отображать секцию Best Offers, в которой будут расположены товары с наибольшими скидками.
Под капотом все тот же Product List.
Также необходимо ввести максимум отображаемых товаров на категорию. К примеру, на странице category можно поставить ограничение в 6 товаров на категорию, а на главной странице - 12.

[2017-01-05 11:18] ocassio commented on #17
Глянул мельком, сразу пара замечаний:
1. Пользователя нужно определять не по параметру в URL, а по данным, хранящимся в сессии. В противном случае, доступ к личным данным открыт для всех.
2. Распиши логику работу метода changeProfile, там явно что-то не то происходит.

[2017-01-05 21:35] ilyad777 commented on #13
Готово 88c6ad27952e6ed32b7f246f375d19d788db8034

[2017-01-05 21:42] ilyad777 commented on #13
Поспешил, не готово

[2017-01-06 15:33] jegius commented on #18
Саш как мне зафорвордить продукт лист на главную страницу, и как сделать бест оферс? как отдельный компонент со своим сервлетом или на базе сервлета категории?

[2017-01-06 17:33] ilyad777 commented on #13
Готово 3a50b4050cdc2d0d893b705c8a595aa1451eec2f

[2017-01-06 18:28] ocassio commented on #18
Компонент тот же, сервлет и страница другие.

[2017-01-06 20:33] lordever commented on #17
Я наверное не правильно понял... Я так понял, что данные в сессию попадают при авторизации пользователя. Авторизации пока не было, но тестировать мне как то нужно было, поэтому я просто через URL это сделал.
Про логику change profile меня тоже смущает результат. Но я не могу понять что именно мне не нравится

[2017-01-07 21:47] jegius commented on #18
ffef8eadbf494f3745b9ef3df76187058b4b5308
готово! Саш проверь пожалуйста

[2017-01-08 18:55] lordever commented on #17
Я изменил логику изменения профиля. Посмотри пожалуйста

[2017-01-10 09:54] ocassio opened #19 "Компонент Product Details"
Компонент отображает подробную информацию о товаре.

[2017-01-10 10:02] ocassio opened #20 "Компонент Shopping Cart Icon"
Иконка в верхней части экрана.

Отображает количество товаров в корзине.
При клике осуществляется переход на страницу корзины.

Также будет отвечать за добавление товаров, а именно:
1. Будет слушать событие addToCart с параметром id.
2. Полученные параметры будут посылаться в запросе на специальный сервлет.
3. В случае успеха, будет происходить обновление текущей страницы.

[2017-01-10 10:09] ocassio opened #21 "Компонент Search"
Строка поиска в верхней части экрана.

После ввода запроса и нажатия на клавишу Enter происходит запрос на новый сервлет, который ищет в БД продукты, содержащие строку запроса в своем имени.
Для отображения используется компонент Product List без группировки по категориям.

[2017-01-10 10:11] #3 closed, assigned to jegius, lordever

[2017-01-10 10:11] #9 closed, assigned to ilyad777

[2017-01-10 17:58] ilyad777 commented on #21
Готово 6d94b306b98cc9f4d744624a0b9960c384741606

[2017-01-11 12:52] lordever commented on #20
Возникли вопросы:
Где нужно хранить количество добавленных товаров в корзину?
Обновление счётчика shoppingCartIcon должно происходить из сервлета?
Я так понимаю после добавления товара мы где то храним количество товаров и их productId, и обновляем счётчик следуя количеству добавленных товаров, так?

[2017-01-11 12:56] ocassio commented on #20
В таблице order_items.

Страница же будет обновляться, при отрисовке там будет новое значение.

Да. Табличка sales_orders и связанные с ней.

[2017-01-13 12:12] jegius commented on #19
34f733df7dd8ab6dc2a50417cb26b5028ea67ef0
Cаш готово! Проверь пожалуйста

[2017-01-15 01:00] ilyad777 commented on #21
Учел замечания, по поводу пустых запросов 3f03cc72ad8a1a4779a203dd3a1104841d67b8bc

[2017-01-16 20:18] lordever commented on #20
Доделал. Java script просто берёт get параметр и выводит значение в иконке. Я думаю добавить ещё ajax и сделать так как ты сказал с добавлением события addToCart

[2017-01-18 09:47] ocassio opened #22 "Компонент Profile Icon"
Логика работы:
- Если пользователь не вошел в систему, то отображаем иконку входа в систему и выполняем перенаправление на страницу логина при клике.
- Если пользователь вошел в систему, то отображаем иконку профиля и выполняем перенаправление на страницу профиля при клике.

[2017-01-18 09:48] ocassio opened #23 "Компонент Logout Icon"
Отображается только в том случае, если пользователь залогинен.
При клике выполняет перенаправление на страницу /logout, где происходит очистка сессии и перенаправление на главную страницу.

[2017-01-18 09:51] #12 closed, assigned to AndrewKozyrin

[2017-01-18 09:51] #14 closed, assigned to jegius

[2017-01-18 09:51] #15 closed, assigned to jegius

[2017-01-18 09:51] #6 closed, assigned to AndrewKozyrin

[2017-01-18 09:54] ocassio commented on #21
Давай лучше не будем ничего делать, если пользователь не ввел запрос и нажал клавишу Enter.

[2017-01-18 10:01] #8 closed, assigned to jegius

[2017-01-18 10:09] ocassio commented on #18
Просуммирую замечания по /home и /category:
1. Если на /category не указана категория, то нужно выводить корневые категории (Computers и Video Games, на данный момент).
2. Зашивать такую логику в сервисе - неправильно. В коде сервлета должно быть четкое понимание того, какие данные мы получим.
[code]
3. Давай немного изменим логику /home страницы. Будем выводить Best Offers, а затем корневые катег

[2017-01-18 10:20] ocassio commented on #13
1. Слишком сложная логика в JSP. Сделай нормальную иерархию внутри CategoriesViewModel и делай простой вывод в соответствии с ней. Если что, Ваня может подсказать, я ему уже делал подобное замечание.
2. urlPatterns = {"/CategoriesServlet"} - сделай просто /categories
3. \category? - обратные слеши использует только Windows. Во всех остальных случаях, пути пишутся с прямым слешем.
4. Хотелось бы ув

[2017-01-18 10:28] ocassio commented on #19
1. Зачем тебе productId в CharacteristicGroupModel?
2. characteristicGroupName - такие вещи можно упрощать до name. По имени объекта и так понятно, чье это имя.
3. Пробегись по наименованиям и советам от идеи. Достаточно много замечаний.

[2017-01-18 10:32] jegius commented on #18
принял поправлю

[2017-01-18 10:41] ocassio commented on #20
1. Настрой ESLint, увидишь приличное количество замечаний к JS коду.
2. $(".shoppingCartIcon") - глобальный селектор. А если мы сразу несколько таких компонентов на странице разместим? Используй this.content.find('.shoppingCartIcon').
3. Отдельный запрос из JS ради количества товаров в корзине? Печатай из JSP. Получение данных можно сделать по тому же принципу, что и Breadcrumbs у Ильи.
4. window.

[2017-01-18 10:52] ocassio commented on #17
1. Мы должны отображать текущие значения полей при заходе на страницу.
2. Не давать юзеру засабмитить форму, если есть пустые поля.
3. userById.getFirstName() != firstName - Строки - это объекты. Их нельзя сравнивать через ==, только через equals.
4. Если необходимые данные уже есть, то не нужно выполнять лишние запросы к БД. Вот тут у нас выполняется пять запросов по получению пользователя:
[code

[2017-01-18 11:14] ocassio commented on #11
1. type: 'length[' + 4 + ']' - Что тебе помешало написать 'length[4]'?
2. this.content.find('.ui.form') - Исползуем спец. классы.
3. Какой-то экзотический способ получения параметров:
[code]
4. Можно просто вернуть резульат сравнения. Следи за подсказками идеи:
[code]
5. Волшебные числа:
[code]
6. В таких случаях следует использовать StringBuilder. Увеличивает производительность.
[code]
7. Inline

[2017-01-18 18:06] jegius commented on #18
3aa4590e31a53e5d9319c24be6a7cc160fab0aa1 Готово!

[2017-01-18 19:25] ilyad777 commented on #21
Готово 32a90dc72a5d9d59cd52dcc563a1be6700ea00c1

[2017-01-18 20:17] ilyad777 commented on #13
Посмотри пожалуйста, по идее все учел 32a90dc72a5d9d59cd52dcc563a1be6700ea00c1

[2017-01-19 09:27] jegius commented on #18
3965c922afa7aab8908024d79f8737adbd06cf41 правка по третьему пункту

[2017-01-21 11:24] ocassio commented on #21
1. Сейчас при попытке выполнить запрос мы выполняем приличное количество операций, при этом оказываемся на главной странице, а адрес у нас /search. Я хочу, чтобы при нажатии на клавишу Enter не происходило ровным счетом ничего.
2. Сделай запрос на /search страницу через GET. Тогда пользователь сможет передавать ссылку на результаты поиска третьим лицам.

[2017-01-21 11:48] #13 closed, assigned to ilyad777

[2017-01-21 11:56] ocassio commented on #23
1. session.removeAttribute("userId"); - Лучше использовать session.invalidate(). Это позволит очистит все параметры сессии.
2. LogoutIconServlet - Название и урла неверно отражают суть. Сервлет не обслуживает иконку, а выполняет выход из системы. Переименуй.
3. После перехода на главную страницу остается адрес сервлета выхода из системы.
4. Почему используем компонент Profile Icon, если это отдель

[2017-01-21 12:02] ocassio commented on #22
1. На самом деле, нам не нужен дополнительный сервлет для данного кейса. Достаточно добавить проверку на наличие пользователя в сессии в Profile сервлете и делать редирект в случае неудачи. Кстати, эту логику лучше вынести в сервис, так как она будет использована и в других сервлетах.
2. После редиректов сохраняется урла сервлета.
3. Почему для перехода по урле используется форма? Это же обычная с

[2017-01-21 12:07] ocassio commented on #18
Еще одно небольшое замечание по сервису.
Получение идентификатора категории из реквеста и запрос других данных в случае его отсутствия лучше вынести в сервлет.
Это вызвано тем, что имена параметров в сервлетах могут отличаться, а также может быть различная логика в случае отсутствия значения параметра.
Также имена параметров желательно выносить в константы.

[2017-01-21 13:54] jegius commented on #19
3692b334caca9c30e5ff59aa101fd8253bf018b4
поправил

[2017-01-21 13:55] jegius commented on #18
Перенес логику обработки запроса на сервлет
3692b334caca9c30e5ff59aa101fd8253bf018b4

[2017-01-21 14:33] ocassio commented on #18
[code]
1. Забыл сделать приватным.
2. CATEGORY_ID_PARAM вполне достаточно. Длинные названия только Apple приветствует.

Не это уже мелочи. :)
Тикет закрываю.

[2017-01-21 14:33] #18 closed, assigned to jegius

[2017-01-21 14:39] #19 closed, assigned to jegius

[2017-01-21 14:42] ocassio opened #24 "Компонент Reviews"
Список отзывов о товаре.

[2017-01-21 18:07] ocassio commented on #7
1. Если у юзеры не заданы имя с фамилией, то выводится null null.
2. У всех пользователей при переходе на страницу профиля используется идентификатор 0.
3. Не забываем ставить метку Completed, когда заканчиваем с задачей. В противном случае, я не знаю, что уже можно что-то проверять.

[2017-01-21 22:06] jegius commented on #24
Готово! 9967b2d596f36a6f1e747dad9bdd61a5c87ab978
С одной оговоркой. Саш где должны храниться аватары юзеров?

[2017-01-22 11:47] jegius commented on #24
699e4d977113e6132ed7a14a2e43b9e84b8e4c4f
добавил аватар в таблицу users и в модель user, в таблице установлено значение по умолчанию со ссылкой на дефолтный аватар

[2017-01-22 12:36] ilyad777 commented on #21
Сделал, скрипт загрузил в папку searchComponent из-за того что папка search игнорится гитом
поправить это не получилось(  05ef1d49b903563ea01dc103651d70a9acdd596f d0e5ec45968b958abb59deaafc88b7e9d71a41e5

[2017-01-22 13:38] ilyad777 commented on #21
Вроде разобрался, в идее не стоял плагин гитигнор и гит игнорировал search из-за того что в начале написано слово Search, поставил плагин все заработало как положено.

[2017-01-22 14:13] ocassio commented on #21
Ну плагин тут не причем. А вот в .gitignore действительно какой-то мусор попал.

Замечания:
1. Настрой ESLint. Увидишь стилистические ошибки в JS.
2. Не нужно определять никакого HIDDEN_ID. Просто не отображаем скидку, если в id null.
3. Компоненты должны быть реюзабельными, в том числе и по несколько одинаковых компонентов на одну страницу. Соответственно, всю клиентскую логику необходимо изолиро

[2017-01-22 14:14] ocassio commented on #24
Ок, пусть будет так.

[2017-01-22 16:14] ilyad777 commented on #21
По второму пункту, id в CategoryViewModel типа long, null быть не может, соответственно я подстраиваюсь под готовый код.
По остальным поправил 64a72329bb7c844776de378c0df49c72162ee6aa

[2017-01-22 16:32] ocassio commented on #21
Может, если заменить long на Long.

[2017-01-22 16:38] ilyad777 commented on #21
Можно и заменить

[2017-01-22 17:19] ilyad777 commented on #21
4c02a9b3b209facf951b4aa21cedd488cd971497 заменил, спасибо за комментарии)

[2017-01-24 10:25] jegius commented on #24
Тогда все готово

[2017-01-24 13:12] lordever commented on #11
2. Специальные классы это к примеру так?
<form class="ui form jsPasswordRecoveryForm" method="post"
                          action="#">

3. Пока что не нашёл более лучшего решения этой проблемы

[2017-01-24 13:12] lordever commented on #11
<form class="ui form jsPasswordRecoveryForm" method="post"
                          action="#">

[2017-01-24 13:14] lordever commented on #11
2. Специальные классы это примерно вот так?
`<form class="ui form jsPasswordRecoveryForm" method="post"
                          action="#">`
3. Я пока не нашёл решения этой проблемы без применения стольких функций.

[2017-01-24 16:26] ocassio commented on #11
2. Да.
3. Еще в первых заданиях получали параметры. Например, вот так: https://github.com/ncedu-tlt/ecomm/blob/master/src/main/java/ru/ncedu/ecomm/servlets/LoginServlet.java

[2017-01-24 17:02] ocassio commented on #24
1. Не надо выставлять email пользователя напоказ. Напиши что-нибудь в духе Anonymous.
2. Нейминг снова местами страдает.
3. Не пугай такими штуками :)
![2017-01-24 21 01 57](https://cloud.githubusercontent.com/assets/6851647/22257735/5f523a30-e278-11e6-9ea2-3d5eaaf4b83c.png)

[2017-01-24 17:05] #21 closed, assigned to ilyad777

[2017-01-24 17:21] ocassio commented on #7
По первому пункту, подобную логику стоит размещать в сервлете. Ну и unknown unknown смотрится как-то странно.

[2017-01-24 18:18] ocassio opened #25 "Компонент Filtering"
Панель фильтрации.
Отображается фильтрация по цене (диапазон) и по всем характеристикам (checkbox'ы) текущей и родительских категорий, отмеченным как filterable (новое поле в таблице).
Для начала задача - просто построить список фильтров.

[2017-01-24 18:25] jegius commented on #24
2a0aa41746fe24a1b3714c10c25c500e9dd5bc07
5e43254e8783c0dc248c0febd92b451bc3e8153f
Поправил

[2017-01-25 17:35] ilyad777 commented on #25
Сделал построение списка 4621c64794ef14dc32566942366c576e4c0916ca

[2017-01-27 11:53] lordever commented on #17
2. Если пользователь хочет изменить только своё имя, ему придётся вводить все параметры. Как я понял, в значении самих полей отобразить текущие значения полей?

[2017-01-27 16:20] ocassio commented on #17
Мы всегда отображаем текущие значения, эта же страница используется и для просмотра информации. Если пользователь хочет что-то изменить, то он изменяет эти поля и сабмитит форму.

[2017-01-31 19:41] ocassio commented on #25
А ценовой диапазон?

[2017-01-31 19:41] #7 closed

[2017-01-31 19:41] #24 closed, assigned to jegius

[2017-01-31 20:55] ilyad777 commented on #25
В процессе....

[2017-02-01 10:11] ocassio opened #26 "Компонент Orders History"
Отображаем все заказы в статусе Completed.

[2017-02-01 10:13] ocassio opened #27 "Reviews - Возможность добавлять новый комментарий"
Если пользователь залогинен и еще не оставлял отзыв для данного товара, то отображаем соответствующую форму.

[2017-02-02 05:08] ilyad777 commented on #25
Добавил фильтрацию по диапазону цен a1125f94f25cc38c085ce1bacfc50d20fee162a9

[2017-02-02 20:07] ilyad777 commented on #25
Саш, как лучше организовать фильтрацию?
Огромным запросом в базу, в котором учитывать и диапазон цен и параметры фильтрации или же получать продукты по диапазону цен и их уже фильтровать в сервлете?

[2017-02-03 09:06] ocassio commented on #25
Запрос быстрее отрабатывает, так что, думаю, лучше его.

[2017-02-03 09:46] ocassio commented on #20
1. ESLint по прежнему не настроен.
2. Зачем нам alert на каждой странице?
3. Константы должны быть полями статическими полями класса, в противном случае мы заново инициализируем ее при каждом вызове метода.
4. А если у юзера реально id 0? Используй null.
[code]
5. В сессии и так лежит long. Зачем приводить его к String, а затем парсить?
[code]
6. Следи за замечаниями от идеи. Например, в данном сл

[2017-02-04 10:54] jegius commented on #27
Саш нужна помощь по двум пунктам:
1) немного не в этой задаче: https://ncedu-ecomm-dev.herokuapp.com/category
не понимаю в чем ошибка.
2) я почему то не могу на сервлете для review прочитать пост запрос, он почему то пустой приходит.

[2017-02-04 12:28] ocassio opened #28 "Компонент Shopping Cart"

[2017-02-04 14:31] #23 closed, assigned to AndrewKozyrin

[2017-02-04 21:29] ilyad777 commented on #25
Готово 441dad819aa9020a0e00d7d7deb5ae0c36353503

[2017-02-05 16:16] jegius commented on #27
2a51340bc8a59a6541be660e925e432983b1982f

Саш добавление отзыва реализовал, но решил что было бы неплохо сразу реализовать и редактирование и удаление. Как лучше это сделать?

[2017-02-05 16:48] ocassio commented on #27
Пусть собственный отзыв отображается первым.
С удалением непоняток быть не должно.
А при редактировании нужно заменять снова отобразить форму добавления, но уже с заполненными данными.

[2017-02-07 04:51] ocassio commented on #22
Саш, а зачем ты сделал отдельный сервлет с проверкой на авторизацию пользователя + аналогичную проверку в сервлете профиля + вызов метода, который выполняет аналогичную проверку?

[2017-02-07 13:14] lordever commented on #22
по не знанию сделал ошибку, но я её осознал и буду стараться не писать полно одинакового кода!) Андрей кажется сделал уже проверку на авторизацию пользователя. Я думаю можно все методы работающие с пользовательскими данными написать в сервисе пользователя.

[2017-02-12 15:22] ilyad777 commented on #25
Вот теперь думаю точно готово) 6fc2ec3e738d2ecb148f7148fc09fd02a529b6c5

[2017-02-12 17:51] ocassio commented on #25
Сейчас зашел в категорию Laptops и открыл фильтр. Увидел в качестве вариантов для выбора бренды, которые не представлены в данной категории, но есть к примеру в Tablets.

[2017-02-13 12:54] ilyad777 commented on #25
Поправил запросы, теперь работает как нодо

[2017-02-13 16:45] ocassio commented on #10
1. Хотелось бы увидеть еще и клиентскую валидацию.
2. Подправь замечания, указанные в TODO.
3. ConfirmPassword - используем camelCase.
4. Используй параметры для имен URL.
5. Имена параметров вынеси в константы.
6. Дабы избежать большой вложенности условий, можно выполнять проверку и делать return, если нас что-то не устраивает в данных, предоставленных пользователем. В противном случае, можно про

[2017-02-13 16:55] ocassio commented on #17
1. А у нас пароль можно поменять не вводя подтверждение и старый пароль?
2. Необходимо добавить хэширование пароля (одновременно с Андреем и Антоном).
3. Сервлет ProfileChange не нужен. Можно просто использовать запрос с GET для отображения и c POST - для обновления.
4. Внеси правки с нашего прошлого разговора (как минимум, приведи в порядок сервисы).
5. Ну и правки по TODO.

[2017-02-13 16:56] ocassio commented on #11
Пробегись по TODO.

[2017-02-13 17:03] ocassio opened #29 "Компонент Company Info"
Отображает информацию о компании в футере.
Значения получаются из таблицы properties и будут конфигурироваться в админке.

[2017-02-13 17:04] #25 closed, assigned to ilyad777

[2017-02-13 18:29] ilyad777 commented on #29
Саш, в футере есть социальные сети, стоит ли добавить колонку social в таблицу properties типа boolean и по ней определять что пропертя соцсеть или по id social хранить строку с названием и урлой, затем получая ее разделять по какому-нибудь символу, если нет, то как сделать лучше?

[2017-02-13 18:46] ocassio commented on #29
Давай проще, проперти facebookUrl, twitterUrl и прочие.

[2017-02-15 17:33] ilyad777 commented on #29
Т.е. только три соц сети, которые в мокапах и добавление других не требуется, только обновление ссылок. А если требуется, то где хранить id-шники по которым брать данные из проперти?

[2017-02-15 20:14] ocassio commented on #29
Если понадобится завести новую, то администратор просто добавит новую проперти и изменит компонент.

[2017-02-15 23:34] ilyad777 commented on #29
Извратился как мог, готово d8d8ae6b9a594ea336244affd157a899fb6023e6
Админу не придется менять компонент ручками.

[2017-02-19 21:42] jegius commented on #27
Саш Все готово. 6753d18359fabebc56915ea6426f21e3f812816d

[2017-02-21 09:50] ocassio commented on #10
1. Вынеси все сообщения на JSP.
2. Для адресов страниц используем проперти.
3. Имена параметров/атрибутов - в константы.
4. Проверку формата email можно вынести в утильный класс, т.к. она много где используется.
5. .setRoleId(3) - Magic number.
6. getBoolUserByEmail - Зачем нам метод, который практически полностью дублирует получение пользователя по email? Используй getUserByEmail и делай проверку

[2017-02-21 11:06] ocassio commented on #27
1. if (req.getParameter("reviewActions").equals("add")) { - Такие вещи лучше делать через switch с вынесением каждого действия в отдельную функцию. Здорово повышает читабельность.
2. Имена параметров и возможных значений лучше вынести в константы.
3. Хотелось бы увидеть возможность отмены редактирования.
4. Зачем нам отдельный компонент для редактирования? Вьюха - ок, а вот дополнительный контролл

[2017-02-21 12:52] ocassio commented on #26
Падает при открытии страницы под пользователем:
Email: test@test.com
Пароль: test

[2017-02-21 13:10] ocassio commented on #29
Блин, запрос для социальных сетей это очень круто, конечно. Только вот не нужно. :)
Такой подход накладывает ограничения на именование остальных пропертей, что нам не нужно.
Если уж очень хочется иметь возможность добавлять новые соц. сети прямо из админки, то можно использовать специальный формат проперти.
Но так как такие вещи меняются очень редко, подход с простым получением каждого отдельного

[2017-02-21 20:46] ilyad777 commented on #29
Переделал 9bd25ad4b3d2a3075b5a38899ad41a7b20e99ae5

[2017-02-21 21:14] jegius commented on #27
e88ab53a00f25b6ddd5b3fb035246c5495f97e9d

Саш готово! Все поправил, принимай)

af7640e5929d748ede6f56e498b4e45a7a313c19 сегодняшние правки

[2017-02-22 13:56] ocassio opened #30 "Site Mngt"
Просмотр, добавление, удаление и редактирование глобальных параметров портала.
Доступ есть только у администратора.

![image](https://cloud.githubusercontent.com/assets/16236736/24827481/8482ff20-1c5b-11e7-8fbe-8ccb0e96558b.png)

[2017-02-22 13:56] ocassio opened #31 "Актуализировать скрипты БД"
Не только структуру, но и данные.

[2017-02-27 13:08] ocassio commented on #29
getSocialsUrl - возвращает неопределенную мапу.

В остальном все норм, тикет закрываю.

[2017-02-27 13:08] #29 closed, assigned to ilyad777

[2017-02-27 16:43] ocassio commented on #28
Насколько я понял, работы идут полным ходом, так что перевел в in progress.

[2017-02-27 16:57] ocassio commented on #26
По поводу ошибки, во время построения списка выполняется огромное количество запросов к БД (нужно разбираться вместе с Андреем, методы написаны не самым оптимальным способом). Если локальный сервер довольно непривередлив и спокойно дожидается ответа, то CI себе такого позволить не может и падает с ошибкой.

Далее по замечаниям:
1. Администраторы на этой странице ничем не должны отличаться от обычн

[2017-02-27 17:05] ocassio opened #32 "Неверный подход к хранению цен для совершенных заказов"
Для заказов необходимо хранить цены, актуальные на момент покупки.
Сейчас у нас происходит сохранение итоговой суммы заказа, что является величиной вычисляемой. С другой стороны, цены для каждого продукта у нас используются актуальные на данный момент. Более того, если пробежаться по методам, то можно увидеть, что итоговая сумма перезаписывается каждый раз при просмотре заказа, что вообще сводит н

[2017-02-27 17:47] ocassio commented on #20
В общем и целом все хорошо.
Мелкие хотелки:
1. shoppingCartIcon.html().trim() === '' - Можно спокойно сократить до shoppingCartIcon.html().trim(). С точки зрения JS, пустая строка == false.
2. Хотелось бы увидеть какое-то зрительное оповещение о том, что происходит процесс добавления в корзину, так как эта операция занимает довольно длительное время, и пользователь может успеть несколько раз нажат

[2017-02-27 17:48] ocassio commented on #20
Также не забываем про тикет https://github.com/ncedu-tlt/ecomm/issues/32.

[2017-02-27 18:35] ocassio commented on #27
1. JS файл назван с опечаткой.
2. this.content.find('.jsThisUserReview').find('.jsEdit') - Можно заменить на this.content.find('.jsThisUserReview .jsEdit').
3. userRatingReload.attr('data-rating', thisUserRating); - Для data аттрибутов есть метод data().
4. А почему на cancel нам нужно перезагружать страницу?
5. Вынеси case блоки в отдельные функции.
6. Данные для формы редактирования можно заполн

[2017-02-28 22:04] ilyad777 commented on #31
Готово 0d0df1b25f06df663e6a95cea2e9818632004e46

[2017-03-04 10:54] lordever commented on #11
Мне не совсем понятно как вынести это в отдельный файл. У меня есть 2 аргумента, которые мешают вынести текст в Property
`private String getTextHtml(String toEmail, String recoveryHash) {
        return "<p>Please change your password in here:</p>" +
                "<a href='https://ncedu-ecomm-dev.herokuapp.com/passwordChange?email="
                + toEmail + "&recoveryHash=" + recoveryHash +

[2017-03-04 11:36] ocassio commented on #11
Я подразумевал использование каких-либо темплейтов. Эта пометка больше для пятничной встречи, чем для выполнения. А вообще тут есть еще один недостаток - ты захардкодил адрес сервера.

[2017-03-06 10:20] jegius commented on #27
3863b4e6391c25c3b810ecdd75ad4dd4a5b44884 Закончил правки)
76c4817b85d76e6813f774ad9674d0952e28d0ae

[2017-03-06 17:00] ocassio commented on #10
req.setAttribute(REGISTRATION, "Registration success! Please sign in"); - Тоже вынеси в JSP.
В остальном все нормально. Тикет закрываю.

[2017-03-06 17:00] #10 closed, assigned to Garthdex

[2017-03-06 17:02] #22 closed, assigned to lordever, AndrewKozyrin

[2017-03-06 17:35] ocassio opened #33 "Добавить возможность логирования при помощи Log4j"
Небольшой туториал: http://devcolibri.com/3413

[2017-03-06 17:42] ocassio commented on #17
1. Не проверяется старый пароль.
2. Новый пароль должен быть опциональным.
3. Текстовые сообщения в JSP.
4. Имена атрибутов и параметров в константы.

[2017-03-06 17:51] ocassio commented on #20
1. getProductsBySalesOrderId - не отражает суть происходящего.
2. final int EMPTY_QUANTITY = 0; - константа.
3. Имена атрибутов и параметров в константы.
4. Это не внутренняя ошибка, а вполне штатная ситуация:
[code]
5. Разберитесь с производительностью метода добавления. Там явно много лишних телодвижений.
6. $('#jsDimmerAdd') - Глобальный селектор и идентификатор. Комбо :)
7. Сделай все анонимны

[2017-03-06 18:01] ocassio commented on #27
1. Имена атрибутов и параметров в константы.
2. JSP из пропертей.
3. А почему так много методов имеет окончание *ByBase. Что это означает? :)
4. .jsReview p - Лучше сразу назначить класс этому элементу.
5. Забываем точки с запятой.
6. Inline стили убираем.

[2017-03-06 18:02] ocassio commented on #31
Можешь еще изменения Андрея с ценами перенести?

[2017-03-07 07:28] jegius commented on #27
051ede86f245f57bcdcdf926fe2df72cdda7e296
Готово!

[2017-03-07 13:48] ilyad777 commented on #31
Готово 7b4284441de2875c32d4cb5210fc450ee45cd0ed

[2017-03-09 06:58] AndrewKozyrin opened #34 "Дополнительное вход в систему пользователем"
При заходе в систему пользователем, а затем при попытке товара. Включается js скрипт и переносит на страницу логина где приходится логинется втроой раз.

[2017-03-12 15:19] AndrewKozyrin commented on #34
Если нет сейлс ордера
То постоянно приходится перелогиниватся

[2017-03-13 11:24] #31 closed, assigned to ilyad777

[2017-03-13 11:25] #27 closed, assigned to jegius

[2017-03-14 19:46] lordever opened #35 "Некорректное отображение сообщений о пустой корзине"
Если у пользователя есть товар в корзине, всё равно отображается сообщение о пустоте. Помимо этого, это сообщение дублируется

[2017-03-14 22:37] Garthdex commented on #33
https://github.com/ncedu-tlt/ecomm/commit/5e9b67e08ce2044718ff8208274f9d83bbcdf760
Я не смог найти какого-то панацейного решения. Нужно для каждого действия каждого сервлета сделать подобные действия, типа, LOG.info("что-то") или же все таки есть какое-то другое решение?

[2017-03-15 05:02] ocassio commented on #33
Если тебе нужно логировать вообще все, то решение есть. Но оно нам и не нужно (да и вообще, трудно представить ситуацию, когда подобное может потребоваться). На данный момент нас интересуют только DAO методы.

По поводу настроек:
1. Не используй абсолютные пути.
2. Используй прямой слеш, а не обратный.

[2017-03-15 05:03] ocassio commented on #32
Обновите статут таски.

[2017-03-15 09:01] AndrewKozyrin commented on #35
Сашь убери цикл и все будет нормально

[2017-03-15 09:53] jegius commented on #35
1) был бесконечный цикл в addToShoppingCart в shopingCartService из за него в базе было около 30000 сейлс ордеров пустых, я его убрал.
2) У тебя некорректно выставлено уcловие, из-за него если сейлс ордер ранее не был создан периодичеcки создается два сейлс ордера  вместо одного.

[2017-03-17 16:41] ocassio opened #36 "Не работает клиентская валидация на форме регистрации"

[2017-03-17 16:43] #35 closed, assigned to lordever

[2017-03-17 16:44] #34 closed, assigned to lordever

[2017-03-17 17:26] #36 closed, assigned to Garthdex

[2017-03-17 19:30] ocassio commented on #28
1. Зачем нам список Sales Order'ов? Как у нас может быть несколько заказов в одной корзине?
2. Редирект на страницу логина должен быть именно редиректом, а форвардом.
3. if (salesOrderList.isEmpty() || Objects.isNull(salesOrderList)) { - Второе условие недостижимо.
4. request.setAttribute("salesOrderListIsEmpty", "Empty"); - У тебя уже есть список, достаточно проверить его на пустоту. Зачем нам ка

[2017-03-17 19:30] #32 closed, assigned to lordever, AndrewKozyrin

[2017-03-17 20:04] ocassio opened #37 "Анализ и рефакторинг запросов к БД"
Необходимо проверить операции, в которых наблюдаются наибольшие проблемы с производительностью. Особенно внимательно проверить ShoppingCartService.

Антон добавил возможность логирования и добавил запись всех операций с DAO.

Пример проблемной операции: добавление в корзину.

Выполняемые обращения к DAO (с готовой корзиной):
[code]

При этом выполняется 70 с лишним транзакций:
<img width="1440" al

[2017-03-19 15:59] #33 closed, assigned to Garthdex

[2017-03-20 14:31] AndrewKozyrin commented on #28
1. Исправил
2. Исправил
3. Исправил
4. Исправил

[2017-03-20 14:37] AndrewKozyrin commented on #28
5. Исправил
6. Исправил

[2017-03-21 06:04] jegius opened #38 "Валидация в Input полях корзины"
![image](https://cloud.githubusercontent.com/assets/11362702/24134520/56496b94-0e1e-11e7-9391-3d9f8c02406c.png)

Андрей сделай как будет возможность JS валидацию  в инпутах корзины.
https://semantic-ui.com/behaviors/form.html
У нас уже есть валидация на сервере LoginServlet и в JS loginServlet.js

если  данные все же уходят на сервлет то он ложится
![image](https://cloud.githubusercontent.com/asse

[2017-03-21 06:41] ocassio commented on #38
Лучше сделать проверку на лету, чтобы пользователь просто не мог ввести ничего, кроме цифр.

[2017-03-21 07:07] ocassio commented on #28
21. При изменении значения руками не происходит отправка AJAX запроса.
22. Серверная обработка ошибки числового формата выполнена некорректно.
23. Зачем мы перезагружаем страницу при нажатии на Enter?
24. Клиентская валидация вводимых значений. См. https://github.com/ncedu-tlt/ecomm/issues/38

[2017-03-23 08:20] AndrewKozyrin commented on #28
Все исправил

[2017-03-23 08:21] AndrewKozyrin commented on #38
исправил

[2017-03-23 12:51] ocassio commented on #28
1. Таймаут не работает. Точнее он есть, но вся суть сводится к более поздней отсылке запроса.
2. По прежнему осталась возможность ввода отрицательных чисел.
3. Почему я не могу очистить поле Limit? После этого сервер упадет с ошибкой.
4. Сообщение о превышении лимита появляется только после перезагрузки страницы.
5. Пункт #20 до сих пор не выполнен.
6. Нейминг не исправлен.
7. <c:when test="${sale

[2017-03-23 12:52] ocassio commented on #38
Закрываю тикет, так как он является частным случаем https://github.com/ncedu-tlt/ecomm/issues/28.

[2017-03-23 12:52] #38 closed, assigned to AndrewKozyrin

[2017-03-25 13:01] ocassio opened #39 "Компонент Product Comparator"
Компонент выполняет сравнение характеристик выбранных продуктов.
Для начала накидай простой мокап.

[2017-03-25 21:40] Garthdex commented on #39
https://drive.google.com/drive/folders/0B1iKcScB1qMMYk8wbHZ6d2t0RW8
в мокапах, предпоследняя вкладка

[2017-03-26 14:41] ocassio commented on #26
А почему у нас DAO возвращает view model?

[2017-03-26 14:41] ocassio commented on #39
Группы характеристик забыл.

[2017-03-26 14:52] ocassio commented on #20
1. Пункты 2 и 3 не выполнены.
2. ` <button onclick="window.location.href = '${pageContext.request.contextPath}/cart'" class="circular ui icon button">` - Используй ссылку.
3. this.params.baseIconUrl + '/addToShoppingCart' - Нужно присылать уже готовую ссылку.
4. Пункт 7 не выполнен.
5. А зачем нам анимация при изначальном отображении?
6. Отображение dimmer'а размазано аж на три функции хотя операц

[2017-03-27 07:25] ocassio opened #40 "Мокапы для админки"
Необходимо нарисовать примерный интерфейс админки, а затем произвести его разбивку на компоненты.

Какие пункты нам необходимы:
1. Управление метаданными (работа с категориями, группами характеристик и характеристиками)
2. Управление каталогом (продукты, значения характеристик и скидки)
3. Управление пользователями и заказами

Потом добавим еще, но пока начнем с этого.

[2017-03-27 12:25] jegius commented on #26
eddd0bb25562d8b697de75bc564c35135c09000f объекты переименованы

[2017-03-27 13:33] #26 closed

[2017-03-27 17:53] Garthdex commented on #39
А, ну я это и имел ввиду) Исправил

[2017-03-28 07:53] ocassio commented on #39
Ок, сойдет. Можешь начинать верстать.

[2017-03-28 08:26] ocassio commented on #11
1. NPE при указании незарегистрированного email.
2. getRecoveryHashByEmail - Судя по названию, должен получать на вход email. Де-факто такого нет. Также вся логика заключается лишь в вызове другого метода.
3. В таких случаях используют StringBuilder (об этом даже сама идея кричит):
[code]
4. Хватит объявлять константы внутри методов. Так они создаются при каждом вызове.
5. Так, к слову, у нас отсу

[2017-03-31 08:48] ocassio commented on #20
1. При добавлении товара оверлей не исчезает.
2. `long emptyQuantity = 0;` - Я уже сбился со счета, сколько раз я писал про то, где должны объявляться константы.
3. Мы же договорились, что решение об изначальном отображении иконки должна принимать JSP, а не JS.
4. Пункт 4 по прежнему не выполнен.
5. Зачем мы инициализируем оверлей перед каждой отправкой запроса?

[2017-03-31 09:27] ocassio commented on #11
1. `String contextPath = req.getServerName();` - Если мы изменим контекст на отличный корневого, то отошлем юзеру неверную урлу.
2. Пункт 4 не выполнен.
3. Используй цикл с постусловием. Это позволит избежать дублирования кода:
[code]
4. Пункт 6 касается и сервисов.
5. `!Objects.equals(recoveryHash, "")` - Используй StringUtils.
6. Тут не нужен else:
[code]
7. `recoveryHash.append("");` - В чем см

[2017-04-03 17:47] jegius commented on #40
https://drive.google.com/open?id=0B0IHRdBdIRKOS2RQcUV4S1lPNkE

Саш еще не доделал, но скажи сразу я в верном направлении иду?

[2017-04-04 09:44] ocassio commented on #37
Тут закончили?

[2017-04-04 09:44] ocassio commented on #40
Проговорили оффлайн.

[2017-04-04 11:43] Garthdex commented on #39
сверстал(если это можно так назвать)

[2017-04-04 18:50] ocassio commented on #17
Замечания проговорили в скайпе.

[2017-04-05 07:47] ocassio commented on #39
1. Breadcrumbs тут не нужен.
2. Почему компонент назвал compare, хотя я явно написал, что это Product Comparator?
3. Кнопка Clear all немного не к месту выглядит.
4. Выровняй элементы внутри каждого продукта по центру.
5. Таблица какая-то поехавшая.

[2017-04-05 20:06] lordever commented on #40
5 страниц:
 !1) Характеристики - содержат категории и характеристики по категориям, с возможностью удаления, добавления и редкатирования
 !2) Product list - страница с таблицей, в каждой строке с таблицей - продукты.
 3) Создание и редактирование продукта
 4) Users - таблица с пользователями
 5) Страница с возможностью удаления, блокирования, редактирования пользователя
 ?) Properties
 ?) SalesOrd

[2017-04-06 09:01] ocassio commented on #20
1. Dimmer должен быть полем класса. Сейчас у тебя будет одна переменная на все инстансы shoppingCartIcon.
2. `complete: setTimeout(this.dimmerToggle, 1000)` - А зачем нам тут задержка?
3. Удали класс jsShoppingCartComponent из shoppingCartIcon.jsp. Из-за этого может инстанцироваться еще один контроллер корзины.

[2017-04-06 20:41] Garthdex commented on #39
подправил(кнопку "Clear all" на 1 уровень с другими кнопками не удалось поставить)

[2017-04-07 10:28] ocassio commented on #39
Ок. Добавь colspan для ячейки с именем группы характеристик и начинай писать логику.

Сразу упреждая вопросы:
1. Выбранные для сравнения товары храним в сессии.
2. Количество таких товаров ограничено. Например, тремя.

[2017-04-07 15:16] #37 closed, assigned to jegius, ilyad777

[2017-04-07 15:25] alzv0411 opened #41 "Product Model Mgnt"
![image](https://cloud.githubusercontent.com/assets/16236736/24827465/3a80ce66-1c5b-11e7-9f4c-950af3113cca.png)

[2017-04-07 22:08] jegius commented on #40
Мокапы Готовы!

[2017-04-08 08:42] alzv0411 opened #42 "Catalog Mgnt"
![image](https://cloud.githubusercontent.com/assets/16236736/24827479/6b0a3c70-1c5b-11e7-9425-ce1e409101aa.png)

[2017-04-08 08:45] alzv0411 opened #43 "Users & Roles Mgnt"
![image](https://cloud.githubusercontent.com/assets/16236736/24827471/52573156-1c5b-11e7-8e69-626b4078c705.png)

[2017-04-08 08:49] alzv0411 commented on #40
@jegius , напиши ссылку на мокапы, пожалуйста

[2017-04-08 09:03] alzv0411 opened #44 "Orders Mgnt"
![image](https://cloud.githubusercontent.com/assets/16236736/24827489/af068ae6-1c5b-11e7-9a0a-25eb06087433.png)

[2017-04-08 10:27] jegius commented on #40
https://drive.google.com/drive/folders/0B1iKcScB1qMMYk8wbHZ6d2t0RW8

Готово!

[2017-04-09 09:30] ocassio commented on #20
Первый пункт пропустил.

[2017-04-09 13:26] #17 closed, assigned to lordever

[2017-04-09 14:02] ocassio commented on #11
getContextPath - Посмотри как он получается в RedirectUtil, не нужно пилить свою имплементацию. В остальном все более-менее нормально, тикет закрываю.

[2017-04-09 14:02] #11 closed, assigned to lordever

[2017-04-16 18:07] #20 closed, assigned to lordever

[2017-04-16 18:08] #40 closed, assigned to jegius

[2017-04-26 10:46] #28 closed, assigned to AndrewKozyrin

[2017-04-28 13:13] ocassio opened #45 "Проверить связи в БД"
Для некоторых таблиц не проставлены связи, что выливается в отсутствие каскадного удаления.
Необходимо проверить все таблицы, внести правки в dev базу, а также скрипты для последующего обновления БД CI сервера.

[2017-05-03 18:37] ocassio commented on #30
Пункты 1 и 2 обязательны к выполнению. Остальные по мере наличия времени, так как сроки уже поджимают.

1. Элементы управления для свежесозданных параметров не работают.
2. А что за магия с пробелами происходит при редактировании?
3. Настрой ESLint для лучшей валидации.
4. Разбей JS код на несколько функций. А то у тебя все действие происходит в рамках одной единственной. От анонимных функций жела

[2017-05-04 09:30] jegius commented on #30
Еще плюсом - не останавливается очередь событий:

![image](https://cloud.githubusercontent.com/assets/11362702/25697756/498e7b48-30cd-11e7-8e8d-6e1686e79503.png)

И еще:

![image](https://cloud.githubusercontent.com/assets/11362702/25697862/a8b600f0-30cd-11e7-8151-d2dc78fa6a93.png)
Жмешь на Cancel и он срабатывает для обоих плей проперти:

![image](https://cloud.githubusercontent.com/assets/113627

[2017-05-19 12:13] ilyad777 commented on #45
Добавил связь в таблицу категорий, все остальные на месте c590dfe

[2017-05-25 20:33] jegius commented on #39
Готово)

[2017-05-27 12:04] ocassio commented on #45
По прежнему ждем каскадное удаление.

[2017-05-27 12:12] ocassio commented on #39
Сервлет можно упразднить, он ничего не делает.

[2017-05-27 12:13] #39 closed, assigned to jegius